/* prevent font size adjustments after orientation changes */
html {
  -moz-textsize-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/* apply natural box model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
}
body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $fontColor;
}

//header

#headerWrapper {
  background-color: $primaryColor;
  color: $secondaryColor;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem $gutter;
  img {
    display: block;
  }
  h1 {
    margin: auto 0.5em;
    font-size: 2rem;
    font-weight: $normalWeight;
  }
}

// nav

#navWrapper {
  background-color: $secondaryColor;
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    display: block;
    padding: 0.5em 0;
    li {
      margin: 0 0.5em;
    }
  }

  li.active {
    a {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      color: $primaryColor;
    }
  }

  a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: $accentColor;
    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      color: $primaryColor;
    }
  }
}

// main
#mainWrapper {
  h1 {
    margin: 2rem 1rem;
  }
}

section {
  display: grid;
  grid-template-columns: 1fr;
  div {
    width: 100%;
    padding: 1rem $gutter;
    text-align: center;
    h2 {
      background-color: $secondaryColor;
      padding: 0.65rem;
      margin: 0;
      border-radius: 10px 10px 0 0;
    }
    img {
      width: 100%;
      height: auto;
      border-radius: 0 0 10px 10px;
    }
  }
}

// footer

#footerWrapper {
  background-color: $secondaryColor;
  padding: 0.5rem $gutter;
  color: $primaryColor;
  p {
    font-weight: $lightWeight;
    text-align: center;
  }
}
