$primaryColor: rgb(128, 0, 32);
$secondaryColor: rgb(230, 180, 75);
$accentColor:rgb(70, 90, 120);
$fontColor: #333;
$defaultFont:"Yatra One", serif;
$lightWeight:300;
$normalWeight:400;
$boldWeight:700;
$gutter: 16px;